<!-- Navigation for Home page with slight changes to avoid repitition -->

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Explore</a>
      <img src="Assets/images/logo.png" height="30" width="150">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

              <% if (title == "Home") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
  <a class="nav-link"  href="/home"><i class="fas fa-home"></i> Home Page</a>
            </li>
          <% if (title == "About") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link"  href="/about"><i class="fas fa-book-open"></i> About</a>
          </li>
          <% if (title == "Projects") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link"  href="/projects"><i class="fas fa-hammer"></i> Projects</a>
          </li>
          <% if (title == "Services") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link"  href="/services"><i class="fas fa-concierge-bell"></i> Services</a>
          </li>

            <% if (title == "Contact") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link"  href="/contact"><i class="fas fa-phone"></i> Contact Me</a>
          </li>


          <% if(typeof displayName == 'string' && displayName) { %>
              <% if (title == "business-list") { %>
                <li class="nav-item active">
              <% } else { %>
                <li class="nav-item">
              <% } %>
                <a class="nav-link " aria-current="page" href="/business-list"><i class="fas fa-lg fa-business-time"></i> Business list</a>
                </li>
          <% } else { %>
            <li class="nav-item">
            <a class="nav-link"  href="/business-list"><i class="fas fa-users"></i> Business Contacts</a>
            </li>  
          <% } %>
               

        <% if(typeof displayName == 'string' && displayName) { %>
            
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>  
          <% } else { %>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="\login"><i class="fas fa-lg fa-address-book"></i> Login</a>
              </li>
          <% } %>
      </ul>




        </div>
      </nav>  


 