<%- include('partials/header.ejs'); -%>

 

<h1>Clayton Rapiejko</h1>

<br>
<br>
<br>
<br>
<br>
<br>
 <h3>"Do your little bit of good where you are; it's those little bits of good put together that overwhelm the world"</h3>
 <h3>-Desmond Tutu</h3>
 <br>
<br>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
     <h4>&copy; Copyright 2021. Clayton Rapiejko 301091341 Assignment 2 COMP229</h4>
    </div>
  </nav>

   
<img src="Assets/images/logo2.png" alt="clayton" width="170" height="175" class="center">

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>

</body>
</html>
